Repository Festo-se/cyclonedx-editor-validator, pull requests merged in 2024-05, with the labels that each got.

#167 fix: Disable strict filename validation for default schema
  .pre-commit-config.yaml
  cdxev/__main__.py
  cdxev/validator/helper.py
  cdxev/validator/validate.py
  docs/available_commands.md
  tests/test_validate.py
Labels: documentation, enhancement, unittests

#181 docs: add description for commit message format
  docs/CONTRIBUTING.md
Labels: documentation

#192 fix: copyright festo no longer necessary when license is present
  cdxev/auxiliary/schema/bom-1.3-custom.schema.json
  cdxev/auxiliary/schema/bom-1.4-custom.schema.json
  cdxev/auxiliary/schema/bom-1.5-custom.schema.json
  tests/test_validate.py
Labels: enhancement, unittests
