Repository Festo-se/cyclonedx-editor-validator, pull requests merged in 2024-02, with the labels that each got.

#66 Rework identification of internal components in custom schema
  cdxev/auxiliary/schema/bom-1.3-custom.schema.json
  cdxev/auxiliary/schema/bom-1.4-custom.schema.json
  cdxev/auxiliary/schema/bom-1.5-custom.schema.json
  poetry.lock
  tests/test_validate.py
Labels: enhancement, settings_changes, unittests

#101 feat: amend adds supplier if only publisher or author are given
  cdxev/amend/operations.py
  cdxev/auxiliary/schema/bom-1.3-custom.schema.json
  cdxev/auxiliary/schema/bom-1.4-custom.schema.json
  cdxev/auxiliary/schema/bom-1.5-custom.schema.json
  docs/available_commands.md
  tests/test_amend.py
  tests/test_validate.py
Labels: documentation, enhancement, unittests

#116 Fix: includes components in metadata in supplier inferral
  cdxev/amend/operations.py
  tests/test_amend.py
Labels: enhancement, unittests

#117 fix: Catch error caused by empty-set logic in pattern
  cdxev/auxiliary/schema/bom-1.3-custom.schema.json
  cdxev/auxiliary/schema/bom-1.4-custom.schema.json
  cdxev/auxiliary/schema/bom-1.5-custom.schema.json
  tests/test_validate.py
Labels: enhancement, unittests

#118 fix: allow for updates of supplier name and url
  cdxev/amend/operations.py
  docs/available_commands.md
  tests/test_amend.py
Labels: documentation, enhancement, unittests

#115 Introduce pre-commit
  .github/workflows/dependabot-pre-commit.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: settings_changes
