Repository Festo-se/cyclonedx-editor-validator, pull requests merged in 2024-07, with the labels that each got.

#185 docs: Improve command documentation
  docs/available_commands.md
Labels: documentation

#146 feat: adjust set command to support version ranges
  cdxev/__main__.py
  cdxev/set.py
  docs/available_commands.md
  poetry.lock
  pyproject.toml
  tests/auxiliary/test_set_sboms/Acme_Application_9.1.1_ec7781220ec7781220ec778122012345_20220217T101458.cdx.json
  tests/test_main.py
  tests/test_set.py
Labels: documentation, enhancement, settings_changes, unittests

#217 docs: clarify use of operations
  docs/available_commands.md
Labels: documentation

#191 feat: Make merge <input> argument optional when `--from-folder` is given
  cdxev/__main__.py
  docs/available_commands.md
  poetry.lock
  pyproject.toml
Labels: documentation, enhancement, settings_changes

#200 fix: delete nested components in build public command
  cdxev/build_public_bom.py
  docs/available_commands.md
  tests/auxiliary/test_build_public_bom_sboms/Acme_Application_9.1.1_20220217T101458.cdx.json
  tests/auxiliary/test_build_public_bom_sboms/internal_removed_sbom.json
  tests/test_build_public_bom.py
Labels: documentation, enhancement, unittests

#203 chore: remove unnecessary bom-ref function
  cdxev/auxiliary/sbomFunctions.py
  cdxev/merge.py
  tests/test_merge.py
Labels: enhancement, unittests

#215 refactor: rename sbomtestfunctions to helper
  tests/auxiliary/helper.py
  tests/test_merge.py
  tests/test_merge_vex.py
Labels: unittests

#241 chore: introduce ossf scorecard
  .github/workflows/scorecard.yml
Labels: settings_changes

#248 docs: add SECURITY.md
  SECURITY.md
Labels: settings_changes

#247 fix: remove pinned dependencies according to code scanning
  .github/workflows/dependabot-pre-commit.yaml
  .github/workflows/main.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-test-publish.yml
  .github/workflows/tests.yml
  docs/CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Labels: documentation, settings_changes
