Repository Festo-se/cyclonedx-editor-validator, pull requests merged in 2024-08, with the labels that each got.

#258 Remove purls from test data to fix OSSF scorecard results
  tests/auxiliary/test_build_public_bom_sboms/Acme_Application_9.1.1_20220217T101458.cdx.json
  tests/auxiliary/test_build_public_bom_sboms/internal_removed_sbom.json
  tests/auxiliary/test_set_sboms/Acme_Application_9.1.1_ec7781220ec7781220ec778122012345_20220217T101458.cdx.json
  tests/auxiliary/test_validate_sboms/Acme_Application_9.1.1_ec7781220ec7781220ec778122012345_20220217T101458.cdx.json
  tests/integration/data/validate/invalid/custom/Acme_Application_1.3_9.1.1_ec7781220ec7781220ec778122012345_20220217T101458.cdx.json
  tests/integration/data/validate/invalid/custom/Acme_Application_1.4_9.1.1_ec7781220ec7781220ec778122012345_20220217T101458.cdx.json
  tests/integration/data/validate/invalid/custom/Acme_Application_1.5_9.1.1_ec7781220ec7781220ec778122012345_20220217T101458.cdx.json
  tests/integration/data/validate/invalid/default/laravel_1.2.cdx.json
  tests/integration/data/validate/invalid/default/laravel_1.3.cdx.json
  tests/integration/data/validate/invalid/default/laravel_1.4.cdx.json
  tests/integration/data/validate/invalid/default/laravel_1.5.cdx.json
  tests/integration/data/validate/invalid/strict/laravel_1.2.cdx.json
  tests/integration/data/validate/invalid/strict/laravel_1.3.cdx.json
  tests/integration/data/validate/valid/custom/Acme_Application_1.3_9.1.1_ec7781220ec7781220ec778122012345_20220217T101458.cdx.json
  tests/integration/data/validate/valid/custom/Acme_Application_1.4_9.1.1_ec7781220ec7781220ec778122012345_20220217T101458.cdx.json
  tests/integration/data/validate/valid/custom/Acme_Application_1.5_9.1.1_ec7781220ec7781220ec778122012345_20220217T101458.cdx.json
  tests/integration/data/validate/valid/default/laravel_1.2.cdx.json
  tests/integration/data/validate/valid/default/laravel_1.3.cdx.json
  tests/integration/data/validate/valid/default/laravel_1.4.cdx.json
  tests/integration/data/validate/valid/default/laravel_1.5.cdx.json
  tests/integration/data/validate/valid/strict/laravel_1.2.cdx.json
  tests/integration/data/validate/valid/strict/laravel_1.3.cdx.json
Labels: settings_changes, unittests

#219 feat: add support for cdx 1.6
  cdxev/auxiliary/schema/bom-1.6-custom.schema.json
  cdxev/auxiliary/schema/bom-1.6.schema.json
  cdxev/auxiliary/schema/spdx.schema.json
  tests/integration/data/validate/invalid/default/laravel_1.6.cdx.json
  tests/integration/data/validate/invalid/default/laravel_1.6.cdx.json.errors
  tests/integration/data/validate/valid/default/laravel_1.6.cdx.json
  tests/test_validate.py
Labels: enhancement, settings_changes, unittests

#220 tests: add type hints for validate tests
  tests/test_validate.py
Labels: enhancement, settings_changes, unittests

#269 chore: adjust token permissions according scorecard findings
  .github/workflows/dependabot-pre-commit.yaml
  .github/workflows/pr-labeler.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-test-publish.yml
Labels: settings_changes

#271 fix: sort validate error messages
  cdxev/validator/validate.py
Labels: enhancement, settings_changes
