Repository Festo-se/cyclonedx-editor-validator, pull requests merged in 2024-10, with the labels that each got.

#313 chore: add SAST via CodeQL
  .github/workflows/codeql.yml
Labels: settings_changes

#306 fix: introduce error handling when version-range is not valid
  cdxev/__main__.py
  cdxev/set.py
  docs/source/usage/set.rst
  tests/integration/test_integration.py
Labels: documentation, enhancement, settings_changes, unittests

#272 feat: add function for initialization of an SBOM
  README.md
  cdxev/__main__.py
  cdxev/initialize_sbom.py
  docs/source/usage/init-sbom.rst
  poetry.lock
  pyproject.toml
  tests/integration/data/init-sbom.initial_default.json
  tests/integration/data/init-sbom.initial_expected.json
  tests/integration/test_integration.py
  tests/test_initialize_sbom.py
Labels: documentation, enhancement, settings_changes, unittests

#309 feat: add list command
  README.md
  cdxev/__main__.py
  cdxev/auxiliary/output.py
  cdxev/auxiliary/sbomFunctions.py
  cdxev/list_command.py
  docs/source/usage/list.rst
  tests/auxiliary/test_list_command_sboms/Acme_Application_9.1.1_20220217T101458.cdx.json
  tests/integration/data/list-command.expected.json
  tests/integration/data/list-command.input.json
  tests/integration/data/list_command/list_components.csv
  tests/integration/data/list_command/list_components.txt
  tests/integration/data/list_command/list_licenses.csv
  tests/integration/data/list_command/list_licenses.txt
  tests/integration/test_integration.py
  tests/test_list_command.py
  tests/test_sbom_functions.py
Labels: documentation, enhancement, settings_changes, unittests

#314 chore: use specific version for dependencies
  .github/workflows/codeql.yml
Labels: settings_changes

#316 fix: remove development help functions
  cdxev/list_command.py
Labels: enhancement, settings_changes
