Repository Festo-se/cyclonedx-editor-validator, pull requests merged in 2024-06, with the labels that each got.

#187 fix: Unify exit code for usage errors
  cdxev/__main__.py
  tests/test_main.py
Labels: enhancement, unittests

#186 fix: Make validate options mutually exclusive
  cdxev/__main__.py
Labels: enhancement

#208 feat: add more known license names to amend
  cdxev/amend/license_name_spdx_id_map.json
Labels: enhancement

#201 fix: do not require a schema for build public
  cdxev/__main__.py
  cdxev/build_public_bom.py
  docs/available_commands.md
  tests/test_build_public_bom.py
  tests/test_main.py
Labels: documentation, enhancement, unittests

#188 fix: catch missing amend operation arguments
  cdxev/__main__.py
Labels: enhancement

#204 refactor: change report options for validate function
  cdxev/__main__.py
  cdxev/validator/validate.py
  docs/available_commands.md
  tests/test_main.py
  tests/test_validate.py
Labels: documentation, enhancement, unittests

#210 chore: Add GPL-3.0 license header comment
  cdxev/__init__.py
  cdxev/__main__.py
  cdxev/amend/__init__.py
  cdxev/amend/command.py
  cdxev/amend/license.py
  cdxev/amend/operations.py
  cdxev/auxiliary/__init__.py
  cdxev/auxiliary/filename_gen.py
  cdxev/auxiliary/identity.py
  cdxev/auxiliary/output.py
  cdxev/auxiliary/sbomFunctions.py
  cdxev/build_public_bom.py
  cdxev/error.py
  cdxev/log.py
  cdxev/merge.py
  cdxev/merge_vex.py
  cdxev/pkg.py
  cdxev/set.py
  cdxev/validator/__init__.py
  cdxev/validator/customreports.py
  cdxev/validator/helper.py
  cdxev/validator/validate.py
  pyproject.toml
  tests/__init__.py
  tests/auxiliary/__init__.py
  tests/auxiliary/sbomFunctionsTests.py
  tests/test_amend.py
  tests/test_build_public_bom.py
  tests/test_customreports.py
  tests/test_error.py
  tests/test_filename_gen.py
  tests/test_identity.py
  tests/test_log.py
  tests/test_main.py
  tests/test_merge.py
  tests/test_merge_vex.py
  tests/test_output.py
  tests/test_set.py
  tests/test_spec_version.py
  tests/test_validate.py
Labels: enhancement, settings_changes, unittests
