Repository Festo-se/cyclonedx-editor-validator, pull requests merged in 2024-01, with the labels that each got.

#92 Add missing documentation for amend and set command
  docs/available_commands.md
Labels: documentation

#93 Changed filename in merge from-folder to be case sensitive
  cdxev/__main__.py
Labels: enhancement

#94 feat: add gitlab code quality report
  cdxev/__main__.py
  cdxev/validator/customreports.py
  cdxev/validator/validate.py
  docs/available_commands.md
  tests/test_customreports.py
  tests/test_validate.py
Labels: documentation, enhancement, unittests

#86 54 validate feature rework dependencies as required
  cdxev/auxiliary/schema/bom-1.3-custom.schema.json
  cdxev/auxiliary/schema/bom-1.4-custom.schema.json
  cdxev/auxiliary/schema/bom-1.5-custom.schema.json
  tests/test_validate.py
Labels: enhancement, unittests

#98 Prepare release
  .github/workflows/python-publish.yml
  docs/available_commands.md
  mkdocs.yml
Labels: documentation, settings_changes

#102 refactor: expiration_field _no_longer_mandatory_in_spec_1.5
  cdxev/auxiliary/schema/bom-1.5-custom.schema.json
  tests/test_validate.py
Labels: enhancement, unittests

#105 fix: resolve absolute path for SPDX scheme
  cdxev/validator/helper.py
Labels: enhancement

#113 build: use black and flake8 within poetry environment
  .github/workflows/tests.yml
  tests/test_validate.py
Labels: unittests
