Repository Festo-se/cyclonedx-editor-validator, pull requests merged in 2025-05, with the labels that each got.

#426 refactor: use generalized input argument for commands
  cdxev/__main__.py
  cdxev/auxiliary/io_processing.py
  pyproject.toml
  tests/test_io_processing.py
Labels: enhancement, settings_changes, unittests

#431 fix: do not allow empty licenses in custom schema
  cdxev/auxiliary/schema/bom-1.3-custom.schema.json
  cdxev/auxiliary/schema/bom-1.4-custom.schema.json
  cdxev/auxiliary/schema/bom-1.5-custom.schema.json
  cdxev/auxiliary/schema/bom-1.6-custom.schema.json
  tests/test_validate.py
Labels: enhancement, settings_changes, unittests

#356 fix: rectify merge function for vex and incorporate it into merge
  README.md
  cdxev/__main__.py
  cdxev/auxiliary/identity.py
  cdxev/auxiliary/sbomFunctions.py
  cdxev/merge.py
  cdxev/merge_vex.py
  docs/source/CONTRIBUTING.rst
  docs/source/usage/merge-vex.rst
  docs/source/usage/merge.rst
  pyproject.toml
  tests/auxiliary/helper.py
  tests/auxiliary/test_merge_sboms/additional_sboms.json
  tests/auxiliary/test_merge_sboms/sections_for_test_sbom.json
  tests/auxiliary/test_merge_vex_sboms/bom.json
  tests/auxiliary/test_merge_vex_sboms/goal.json
  tests/auxiliary/test_merge_vex_sboms/goal_one_deleted.json
  tests/auxiliary/test_merge_vex_sboms/vex.json
  tests/integration/data/merge.vex.expected.cdx.json
  tests/integration/data/merge.vex.input_1.cdx.json
  tests/integration/data/merge.vex.input_2.cdx.json
  tests/integration/test_integration.py
  tests/test_identity.py
  tests/test_main.py
  tests/test_merge.py
  tests/test_merge_vex.py
  tests/test_sbom_functions.py
Labels: documentation, enhancement, settings_changes, unittests

#437 docs: update description of amends default-author operation
  cdxev/amend/operations.py
Labels: enhancement, settings_changes

#439 docs: fix link to contribution guidelines
  README.md
Labels: settings_changes
