Repository Festo-se/cyclonedx-editor-validator, pull requests merged in 2025-01, with the labels that each got.

#348 chore: update dependencies to resolve security issue with jinja2
  poetry.lock
Labels: settings_changes

#339 refactor: configure mypy to strict mode
  .pre-commit-config.yaml
  cdxev/__main__.py
  cdxev/amend/operations.py
  cdxev/auxiliary/identity.py
  cdxev/auxiliary/sbomFunctions.py
  cdxev/initialize_sbom.py
  cdxev/list_command.py
  cdxev/merge.py
  cdxev/set.py
  cdxev/validator/helper.py
  cdxev/validator/validate.py
  pyproject.toml
Labels: enhancement, settings_changes, unittests

#355 chore: set minimum required python version to 3.10
  .github/workflows/python-publish.yml
  .github/workflows/python-test-publish.yml
  .github/workflows/tests.yml
  docs/source/CONTRIBUTING.rst
  poetry.lock
  pyproject.toml
Labels: documentation, settings_changes

#361 fix: rearrange instead of delete nested components
  cdxev/build_public_bom.py
  tests/auxiliary/test_build_public_bom_sboms/internal_removed_sbom.json
  tests/integration/data/build-public.expected.cdx.json
  tests/integration/data/build-public.input.cdx.json
  tests/test_build_public_bom.py
Labels: enhancement, settings_changes, unittests
